<!DOCTYPE html>
<html>
{% load static %}
<head>
  <meta charset="utf-8">
  <title>{%block title%}Django CICD App AWS{%endblock%}</title>
  <link rel="stylesheet" href="{% static '/demoapp/css/style.css' %}">
  <meta name="author" content="John Mulhall"/>
  <meta name="description" content="Infrastructure demo of a CI/CD pipeline deployment for a Python app onto AWS cloud platform using using AWS CodeStar"/>
  <meta name="keywords" content="infrastructure, cicd, codedeploy, cloudformation, systems, codestar, aws, amazon, ireland, python, django"/>
</head>
<body>
  <div id="wrapper">
    <header>
      <a href="https://jmulhall.azurewebsites.net/" target="_blank">
        <img class='workflow' src="{% static '/demoapp/img/img_aws_codestar.png' %}" alt="AWS Codestar Project Image"/>
      </a>
      <h1>Services Uptime<sub>An AWS CI/CD Infrastructure Project</sub></h1>
    </header>
    <nav>
      <ul id='navbar'>
        <li><a href="/">Home</a><li>
        <li><a href="/contact">Contact</a><li>
      </ul>
    </nav>
    <main id="main_content">
      {%block content%}
      {%endblock%}
    </main>
    <footer>
      <hr class="hr_ruler">
      <p>
        <input class="buttons" type="button" value="Increase/Decrease Font Size" onclick="changeFont()"/>
      </p>
      <div class="urls">
        <ul>
          <li><a href="https://data.gov.ie/data" target="_blank">Open Source Datasets - Ireland</a></li>
          <li>
            <a href="https://jmulhall.azurewebsites.net/" target="_blank">
              Software Porfolio - John Mulhall
            </a>
          </li>
        </ul>
      </div>
      <p>AWS Codestar Provisioned CI/CD Demo - Version 1.0.1 - johnmlhll@yahoo.com</p>
      <p>&copy; John Mulhall 2021</p>
      <script src="{% static 'demoapp/js/set-background.js' %}"></script>
      <script src="{% static 'demoapp/js/javascript.js' %}"></script>
    </footer>
  </div>
</body>
</html>
