{%extends "_layout.html"%}
{%block content%}
{% load static %}
<div id="home_content">
  <h2>{%block title%}Uptime- Home{%endblock%}</h2>
  <h3>Currently Running Service Time</h3>
  <p>
    Welcome to this Infrastructure Demo of a CI/CD pipline from local host to AWS cloud service. 
    The deployment and pipeline was done via AWS CodeStar using AWS Elastic Beanstalk (managed service) on top of an EC2 instance for the deployment. 
    This webapp was developed in Python (on Django v3.2.6 framework) and was truly fun to do; yet purposely simple as this project is 
    about showcasing the AWS codestar CICD pipeline. Current server uptime is as follows:
  </p>
  <div id="service_list">
    <a>{{ service_update }}</a>
    <h3>CICD Updating Experience</h3>  
    <p>
      The initial deployments went smoothly updating v1.0.0 from local pushes to the 
      <a href='https://github.com/johnmlhll/AWS-Codestar-Demo' target="_blank"> Github Repo</a>, which in 
      turn triggered from master branch the Codestar pipeline process as follows:
    </p>
    <ol id="cicdflow">
      <li>Git Hub Master Branch change</li>
      <li>AWS CodeBuild Execution</li>
      <li>AWS Cloudformation Build Execution</li>
      <li>AWS EBS Deployment Change Creation</li>
      <li>AWS EBS Deployment Execution into target EC2 instance</li>
    </ol>
    <p>
      CodeStar GUI in action looked like this:
    </p> 
    <a>
      <img class="workflow" src="{% static '/demoapp/img/img_initial_deploy_from_github.png' %}" alt="Codestar deployment GUI"/>
    </a>
    <p>
        As you can see, the version upgrade to v1.0.1 from v1.0.0 was successful proving the CICD flow in action using Codestar as a platform. I pushed to master 
        direct and also via PR from development_master after locking down master branch for protection; given that it is linked to my Codestar project. Once the Pull 
        Request was approved and merged into master, the CICD run was immediately triggered, connecting my Github repo to the Codestar CICD process.
        As some point in the future, I will replicate the same code (there or there abouts) in a new CICD project on AWS using Jenkins into CodeDeploy/EC2 and compare the results in effort 
        and cost. For this project, I did not buy a domain name on cost basis and use AWS Certificate Manager to issue an in house SSL cert for it. This is why 
        the endpoint http://ec2-63-33-220-22.eu-west-1.compute.amazonaws.com/ works only in http, not https. I also did not see the 
        point to use a single instance (workaround) proxy 443 to 443 endpoint as it was upon reflection a distraction from the CICD nature of this project.  
        V1.0.0 was upgraded to V1.0.1 accordingly, which is evidenced by an image of the deployed v1.0.0 home page footer as below:
    </p>    
    <a>
      <img class="workflow" src="{% static '/demoapp/img/img_v1_0_0.png' %}" alt="V1.0.0 image of Web App home page footer"/>
    </a>
    <p>
      Check out my Github account and my Software Portfolio site at https://jmulhall.azurewebsites.net/ for updates as I will be doing more Infrastructure 
      related projects in between my certification studies in Infrastructure, which is truly an enjoyable experience for a Technologist and Engineer 
      such as a myself.
    </p>
  </div>
</div>
{%endblock%}